@font-face {
	font-family: NotoMono;
	src: url('./fonts/NotoMono-Regular.ttf') format('truetype');
}

/* @font-face {
	font-family: SwedenSansBook;
	src:
		local('SwedenSansBook'),
		url('./fonts/SwedenSansBook.woff2') format('woff2'),
		url('./fonts/SwedenSansBook.woff') format('woff');
} */

@font-face {
	font-family: SwedenSansRegular;
	src: local('SwedenSansRegular'), url('./fonts/SwedenSansRegular.woff2') format('woff2'),
		url('./fonts/SwedenSansRegular.woff') format('woff');
}

/* @font-face {
	font-family: SwedenSansSemiBold;
	src:
		local('SwedenSansSemiBold'),
		url('./fonts/SwedenSansSemiBold.woff2') format('woff2'),
		url('./fonts/SwedenSansSemiBold.woff') format('woff');
} */

@font-face {
	font-family: SwedenSansBold;
	src: local('SwedenSansBold'), url('./fonts/SwedenSansBold.woff2') format('woff2'),
		url('./fonts/SwedenSansBold.woff') format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-indent {
		text-indent: -2rem;
		padding-left: 2rem;
	}
}
